*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --ligh-white: #f7edff;
    --dark-blue: #0b0e23;
    --orange: #f7a420;
    --red: #f72020;
    --green: green;
    --dark-green: #0C8156;
    --dark-red: #e91e63;
}

body{
    background: var(--dark-blue);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 400px;
    height: auto;
    padding: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 4px;
}

.container h1{
    font-size: 38px;
    color: #fff;
    margin-bottom: 20px;
}

.container h1 span{
    color: var(--dark-green);
    border-bottom: 4px solid var(--dark-green);
    margin-top: 8px;
}

.password_box{
    position: relative;
}

.password_box input{
    width: 100%;
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    outline: none;
    margin-bottom: 20px;
}

.password_box i{
    position: absolute;
    right: 10px;
    top: 33%;
    transform: translateY(-50%);
    font-size: 23px;
    cursor: pointer;
}
button{
    padding: 5px 20px;
    border-radius: 6px;
    font-size: 18px;
    text-transform: uppercase;
    border: none;
    outline: none;
    cursor: pointer;
}
button i{
    font-size: 18px;
    color: var(--dark-green);
}