*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --background-color: #911ae2;
    --white-color: #fff;
    --black-color: #000;
    --dark-blue: #480D71;
}

.inactive{
    display: none;
}

.disabled{
    pointer-events: none;
}

.dark{
    background: #000 !important;
}

body{
    background: var(--background-color);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    background: var(--dark-blue);
    min-width: 100%;
    height: 60px;
    line-height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    padding: 0 35px;
}

header .timer{
    font-size: 25px;
    color: #fff;
    display: flex;
    gap: 20px;
}

header .heading h1{
    color: var(--white-color);
    font-size: 36px;
    line-height: 50px;
    text-align: center;
}

#toggleBox{
    position: relative;
}

#toggle{
    opacity: 0;
    width: 0;
    height: 0;
}

.slider{
    position: absolute;
    width: 80px;
    height: 35px;
    background-color: #ccc;
    border-radius: 40px;
    right: 0;
    top: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    cursor: pointer;
    transition: transform background-color 0.6s;
}

.slider::before {
    content: "\f185";
    position: absolute;
    left: 5px;
    top: 4px;
    font-size: 16px;
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    transition: transform 0.6s;
    width: 27px;
    height: 27px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
}

#toggle:checked + .slider{
    background-color: #00B9F7;
}

#toggle:checked + .slider::before{
    content: "\f186";
    transform: translateX(45px);
}

.quiz_button button{
    font-size: 16px;
    padding: 5px 20px;
    border-radius: 6px;
    text-transform: uppercase;
    font-weight: 600;
    border: 1px solid #ccc;
    cursor: pointer;
    transition: transform background-color 0.6s;;

    animation: InOut 0.8s infinite alternate 1s;
}

@keyframes InOut {
    50%{
        transform: scale(1.1);
    }
}

.quiz_button button:hover{
    background-color: var(--background-color);
    color: #fff;
}



.quiz_app{
    width: 600px;
    height: auto;
    padding: 50px;
    background-color: var(--dark-blue);
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    border: 1px solid var(--white-color);
}



.quiz_box h2{
    color: var(--white-color);
    margin: 30px 0 10px 0;
    display: inline-block;
}

.quiz_box .option{
    border: 2px solid var(--white-color);
    padding: 10px 20px;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    margin-bottom: 10px;
    font-size: 18px;
    transition: background-color 0.6s;
    position: relative;
}
.quiz_box .option:hover{
    background-color: var(--background-color);
    color: #fff;
}

.quiz_box .option.correct{
    background: rgb(157, 246, 157);
    color: rgb(6, 138, 28);
    border-color: rgb(6, 138, 28);
}

.quiz_box .option.correct::before{
    content: "\f00c";
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 20px;
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
}

.quiz_box .option.incorrect{
    background: rgb(241, 153, 153);
    color: rgb(184, 12, 12);
    border-color: rgb(184, 12, 12);
}

.quiz_box .option.incorrect::before{
    content: "\f00d";
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 20px;
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
}

.quiz_footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 6px;
    border-top: 2px dashed var(--white-color);
    margin-top: 30px;
    padding-top: 20px;
}

.footer_left{
    color: var(--white-color);
    font-size: 20px;
    line-height: 50px;
    text-transform: capitalize;
}
.footer_right .next_button{
    font-size: 16px;
    padding: 5px 20px;
    border-radius: 6px;
    text-transform: uppercase;
    font-weight: 600;
    border: 1px solid #ccc;
    cursor: pointer;
    transition: background-color 0.6s;
}
.footer_right .next_button:hover{
    background-color: var(--background-color);
    color: #fff;
}


.result_box{

    width: 400px;
    height: auto;
    background-color: var(--white-color);
    padding: 50px;
    border-radius: 10px;
    position: relative;

}

.result_box h2{
    font-size: 28px;
    line-height: 50px;
    text-transform: uppercase;
    text-align: center;
    display: inline-block;
    background-color: var(--dark-blue);
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    color: var(--white-color);
    border-radius: 10px 10px 0 0;
}

.result{
    margin: 22px 0 22px;
    font-size: 22px;
    text-transform: capitalize;
    font-style: italic;
    display: flex;
    flex-direction: column;
    column-gap: 40px;
    row-gap: 20px;
}

.result_inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.result_inner span, .result div{
    display: inline-block;
}

.button_box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 6px;
    border-top: 2px dashed var(--white-color);
}

.button_box button{
    font-size: 16px;
    padding: 5px 20px;
    border-radius: 6px;
    text-transform: uppercase;
    font-weight: 600;
    border: 1px solid #ccc;
    cursor: pointer;
    transition: background-color 0.6s;
}

.button_box button:hover{
    background-color: var(--background-color);
    color: #fff;
}


@media screen and (max-width: 360px){
    header {
    padding: 0 10px !important;
}
header .timer {
    font-size: 15px !important;
    flex-direction: column !important;
    gap: 0 !important;
    line-height: 2;
}
header .heading h1 {
    font-size: 14px !important;
    position: absolute;
    left: 55%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.quiz_app {
    width: 340px !important;
    padding: 12px !important;
}
.quiz_box h2 {
    font-size: 18px !important;
}
.footer_left {
    font-size: 17px !important;
}
.result_box {
    width: 340px !important;
}
.footer_right .next_button {
    font-size: 13px !important;
    padding: 5px 12px !important;
}
}
