*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --background-color: #911ae2;
    --white-color: #fff;
    --black-color: #000;
    --dark-blue: #480D71;
}

.inactive{
    display: none;
}

.disabled{
    pointer-events: none;
}

body{
    background: var(--background-color);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quiz_button button{
    font-size: 16px;
    padding: 5px 20px;
    border-radius: 6px;
    text-transform: uppercase;
    font-weight: 600;
    border: 1px solid #ccc;
    cursor: pointer;
    transition: background-color 0.6s;

    animation: InOut 0.8s infinite alternate 1s;
}

@keyframes InOut {
    50%{
        transform: scale(1.1);
    }
}

.quiz_button button:hover{
    background-color: var(--background-color);
    color: #fff;
}



.quiz_app{
    width: 600px;
    height: auto;
    padding: 50px;
    background-color: var(--dark-blue);
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    border: 1px solid var(--white-color);
}

.quiz_app h1{
    color: var(--white-color);
    font-size: 36px;
    line-height: 50px;
    text-align: center;
}

.quiz_box h2{
    color: var(--white-color);
    margin: 30px 0 10px 0;
    display: inline-block;
}

.quiz_box .option{
    border: 2px solid var(--white-color);
    padding: 10px 20px;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    margin-bottom: 10px;
    font-size: 18px;
    transition: background-color 0.6s;
    position: relative;
}
.quiz_box .option:hover{
    background-color: var(--background-color);
    color: #fff;
}

.quiz_box .option.correct{
    background: rgb(157, 246, 157);
    color: rgb(6, 138, 28);
    border-color: rgb(6, 138, 28);
}

.quiz_box .option.correct::before{
    content: "\f00c";
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 20px;
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
}

.quiz_box .option.incorrect{
    background: rgb(241, 153, 153);
    color: rgb(184, 12, 12);
    border-color: rgb(184, 12, 12);
}

.quiz_box .option.incorrect::before{
    content: "\f00d";
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 20px;
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
}

.quiz_footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 6px;
    border-top: 2px dashed var(--white-color);
    margin-top: 30px;
    padding-top: 20px;
}

.footer_left{
    color: var(--white-color);
    font-size: 20px;
    line-height: 50px;
    text-transform: capitalize;
}
.footer_right .next_button{
    font-size: 16px;
    padding: 5px 20px;
    border-radius: 6px;
    text-transform: uppercase;
    font-weight: 600;
    border: 1px solid #ccc;
    cursor: pointer;
    transition: background-color 0.6s;
}
.footer_right .next_button:hover{
    background-color: var(--background-color);
    color: #fff;
}


.result_box{

    width: 400px;
    height: auto;
    background-color: var(--white-color);
    padding: 50px;
    border-radius: 10px;
    position: relative;

}

.result_box h2{
    font-size: 28px;
    line-height: 50px;
    text-transform: uppercase;
    text-align: center;
    display: inline-block;
    background-color: var(--dark-blue);
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    color: var(--white-color);
    border-radius: 10px 10px 0 0;
}

.result{
    margin: 22px 0 22px;
    font-size: 22px;
    text-transform: capitalize;
    font-style: italic;
    display: flex;
    flex-direction: column;
    column-gap: 40px;
    row-gap: 20px;
}

.result_inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.result_inner span, .result div{
    display: inline-block;
}

.button_box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 6px;
    border-top: 2px dashed var(--white-color);
}

.button_box button{
    font-size: 16px;
    padding: 5px 20px;
    border-radius: 6px;
    text-transform: uppercase;
    font-weight: 600;
    border: 1px solid #ccc;
    cursor: pointer;
    transition: background-color 0.6s;
}

.button_box button:hover{
    background-color: var(--background-color);
    color: #fff;
}
