*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --ligh-white: #f7edff;
    --dark-blue: #0b0e23;
    --orange: #f7a420;
    --red: #f72020;
    --green: green;
    --dark-green: #0C8156;
    --dark-red: #e91e63;
    --back-color: linear-gradient(135deg, #cf9aff, #95c0ff);
    --btn-back: linear-gradient( #9418fd, #571094);
    --box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

body{
    background: var(--dark-blue);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 900px;
    height: auto;
    padding: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 4px;
    box-shadow: var(--box-shadow);
    overflow: hidden;
    position: relative;
}

.slider_wrapper{
    display: flex;
    align-items: center;
    position: relative;
}

.slider{
    display: flex;
    overflow-y: scroll;
    gap: 10px;
    border-radius: 6px;
    scroll-behavior: smooth;
}

.slider::-webkit-scrollbar{
    display: none;
}

.slider div{
    width: 900px;
    height: 600px;
    flex: none;
    border-radius: 6px;
    overflow: hidden;
    cursor: pointer;
}

.slider div img{
    max-width: 100%;
    min-height: 100%;
    object-fit: cover;
    border-radius: 6px;
}

.slider_wrapper #left_arrow, #right_arrow{
    width: 40px;
    height: 40px;
    cursor: pointer;
    position: relative;
}



.slider_wrapper #left_arrow{
    position: absolute;
    left: -75px;
    transform: rotate(180deg);
    transition: all 0.6s ease-in-out;
}
.slider_wrapper #right_arrow{
    position: absolute;
    right: -75px;
    transition: all 0.3s ease-in-out;
}

.slider_wrapper:hover #left_arrow{
    left: -25px;
}
.slider_wrapper:hover #right_arrow{
    right: -25px;
}

.container .dots{
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999;
}

.container .dots span{
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: gray;
    display: inline-block;
    flex-direction: row;
    justify-content: center;
    cursor: pointer;
}

.container .dots span.active{
    background-color: var(--red);
}